<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/static/clientes.css">

</head>

<body>
    <div class="container">
        <h1 class="title">Bem vindo! Selecione a opção desejada!</h1>
        <!-- <a href= ><a/> -->
    </div>
    <div class="link">
        <a href={{ url_for("cadastro") }} class="button">Cadastro de Usuários</a>
        <a href={{ url_for("clientes") }} class="button"> Cadastro de Clientes</a>

    </div>
    <div class="div-footer">
        <footer class="footer">
            <!-- Conteúdo do rodapé -->
            <p>&copy;Helyf Avila</p>
        </footer>
    </div>
</body>

</html>